<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table table-bordered border-1" id="table" width="100%">

        <tr class="position-sticky top-0 bg-black text-light">
            <th>
                Điều kiện chấm điểm
            </th>
            <th>
                Nguyên tắc chấm điểm
            </th>
            <th>
                Điểm
            </th>
            @if ((int)Session["dm_DonVi"] == 2)
            {
                <th>Chi đoàn chấm</th>
            }
            <th>
                Tự chấm điểm
            </th>
            <th>
                Yêu cầu trong đánh giá kết quả thực hiện
            </th>
            <th>
                Yêu cầu minh chứng
            </th>

            <th></th>
        </tr>
        @{
            var (i, j, x, y) = (0, 0, 0, 0);
            var (biendem1, biendem2, biendem3, biendem4) = (0, 0, 0, 0);
            var (diem1, diem2, diem3) = (0, 0, 0);
        }


        @foreach (var item in @ViewBag.dataChiTieu)
        {
            using (Html.BeginForm("chamDiem", "nguoiDung", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="id" value="@item.bangDiem.id" class="form-control" />
                if ((int)Session["dm_DonVi"] == item.giaoChiTieuchoDV.fk_dmDonVi)
                {
                    if (item.loaiTieuChi.iD != j)
                    {
                        <tr>
                            <td colspan="11">@item.loaiTieuChi.iD. @item.loaiTieuChi.ten (@item.loaiTieuChi.tongDiem)</td>
                        </tr>
                        j = item.loaiTieuChi.iD;
                    }
                    if (item.nhomChiTieu.iD != x)
                    {
                        <tr>
                            <td colspan="11">@item.nhomChiTieu.iD. @item.nhomChiTieu.ten (@item.nhomChiTieu.tongDiem)</td>
                        </tr>
                        x = item.nhomChiTieu.iD;
                    }
                    <tr>
                        @if (item.chiTieu.iD != i)
                        {
                            <td>
                                <input type="hidden" name="iD_chiTieu" value="@item.chiTieu.iD" class="form-control" />
                                @item.giaoChiTieuchoDV.id @item.chiTieu.ten
                            </td>
                            i = item.chiTieu.iD;
                        }
                        else
                        {
                            <td>
                            </td>
                        }
                        <td>@item.chiTietChiTieu.noiDung</td>
                        <td>@item.chiTietChiTieu.diem</td>

                        @foreach (var dataDiem in @ViewBag.dataDiem)
                        {
                            //kiểm tra bảng chỉ tiêu trùng, để in ra không bị trùng chỉ tiêu
                            if (dataDiem.giaoChiTieuchoDV.fk_chiTieu == item.giaoChiTieuchoDV.fk_chiTieu && dataDiem.bangDiem.fk_giaoChiTieu != y)
                            {
                                //kiểm tra điểm người dùng có fk_donvi==1 có chưa
                                if ((int)Session["dm_DonVi"] == 1)
                                {
                                    if (dataDiem.nguoiDung.fk_donVi == 1 && dataDiem.bangDiem.id != diem1 && dataDiem.bangDiem.diem != null)
                                    {
                                        <td><input type="number" class="form-control" name="diem" value="@item.bangDiem.diem" /></td>
                                        y = dataDiem.bangDiem.fk_giaoChiTieu;
                                        diem1 = dataDiem.bangDiem.id;
                                    }
                                    else if (dataDiem.nguoiDung.fk_donVi == 1 && dataDiem.bangDiem.id != diem1 && item.bangDiem.diem == null)
                                    {
                                        <td><input type="number" class="form-control" name="diem" value="@item.bangDiem.diem" /></td>
                                        y = dataDiem.bangDiem.fk_giaoChiTieu;
                                        diem1 = dataDiem.bangDiem.id;
                                    }
                                }

                                if ((int)Session["dm_DonVi"] == 2)
                                {
                                    if (dataDiem.nguoiDung.fk_donVi == 1 && dataDiem.bangDiem.id != diem1 && dataDiem.bangDiem.diem != null)
                                    {
                                        <td>
                                            @dataDiem.bangDiem.diem
                                        </td>
                                        y = dataDiem.bangDiem.fk_giaoChiTieu;
                                        diem1 = dataDiem.bangDiem.id;
                                    }
                                    //kiểm tra điểm người dùng có fk_donvi==2 có chưa
                                    if (dataDiem.nguoiDung.fk_donVi == 2 && dataDiem.bangDiem.id != diem2 && dataDiem.bangDiem.diem != null)
                                    {
                                        <td>
                                            @dataDiem.bangDiem.diem
                                        </td>
                                        y = dataDiem.bangDiem.fk_giaoChiTieu;
                                        diem2 = dataDiem.bangDiem.id;
                                    }
                                    else if (dataDiem.nguoiDung.fk_donVi == 2 && dataDiem.bangDiem.id != diem2 && item.bangDiem.diem == null)
                                    {
                                        <td><input type="number" class="form-control" name="diem" value="@item.bangDiem.diem" /></td>
                                        y = dataDiem.bangDiem.fk_giaoChiTieu;
                                        diem2 = dataDiem.bangDiem.id;

                                    }
                                }

                                @*if ((int)Session["dm_DonVi"] == 3)
                                    {
                                        //kiểm tra điểm người dùng có fk_donvi==3 có chưa
                                        if (dataDiem.nguoiDung.fk_donVi == 3 && dataDiem.bangDiem.id != diem3 && dataDiem.bangDiem.diem != null)
                                        {
                                            <td>
                                                @dataDiem.bangDiem.diem
                                            </td>
                                            y = dataDiem.bangDiem.fk_giaoChiTieu;
                                            diem3 = dataDiem.bangDiem.id;
                                        }
                                        else if (dataDiem.nguoiDung.fk_donVi == 3 && dataDiem.bangDiem.id != diem3 && item.bangDiem.diem == null)
                                        {
                                            <td><input type="number" class="form-control" id="diem" /></td>
                                            y = dataDiem.bangDiem.fk_giaoChiTieu;
                                            diem3 = dataDiem.bangDiem.id;
                                        }
                                    }*@
                            }
                        }

                        @*@if (item.bangDiem.id != biendem1 && item.bangDiem.diem == null)
                            {
                                <td><input type="number" class="form-control" id="diem" /></td>
                                biendem1 = item.bangDiem.id;
                            }
                            else if (item.bangDiem.id != biendem1 && item.bangDiem.diem != null)
                            {
                                <td>@item.bangDiem.diem</td>
                                biendem1 = item.bangDiem.id;
                            }*@
                        @if (item.bangDiem.id != biendem2)
                        {
                            <td><textarea class="form-control" name="ycDanhGiaKQ">@item.bangDiem.ycDanhGiaKQ</textarea></td>
                            biendem2 = item.bangDiem.id;
                        }
                        @if (item.bangDiem.id != biendem3)
                        {
                            <td><textarea class="form-control" name="ycMinhChung">@item.bangDiem.ycMinhChung</textarea></td>
                            biendem3 = item.bangDiem.id;
                        }
                        @if (item.chiTieu.iD != biendem4 && item.bangDiem.diem == null)
                        {
                            <td><button class="form-control bg-success text-light" type="submit" name="submit" value="submit">Chấm điểm</button></td>
                            biendem4 = item.chiTieu.iD;
                        }
                        else if (item.chiTieu.iD != biendem4 && item.bangDiem.diem != null)
                        {
                            <td><button class="form-control bg-success text-light" type="submit" name="submit" value="edit">Sửa</button></td>
                            biendem4 = item.chiTieu.iD;
                        }

                    </tr>
                }
            }


        }
    </table>


</body>
</html>
