@model  List<WebApplication1.Models.dataBangDiem>

<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>Năm</td>
                <td>@Html.DropDownList("year", (SelectList)ViewBag.listYear, htmlAttributes: new { @class = "form-control w-auto" })</td>
            </tr>
            @if ((int)Session["donvi"] != 1)
            {
                <tr>
                    <td>Đơn vị</td>
                    <td>@Html.DropDownList("nguoiDung", (IEnumerable<SelectListItem>)ViewBag.listnguoiDung, new { @class = "form-control w-auto" })</td>
                </tr>
            }
            <tr>
                <td><input type="submit" class="btn btn-outline-primary w-100 h-25" value="Chọn" /></td>
            </tr>
        </table>
    }

    <div class="overflow-auto" style="height: 80vh">
        <table class="table table-bordered" id="table" width="100%">

            <tr class="position-sticky top-0 bg-black text-light">
                <th>
                    Điều kiện chấm điểm
                </th>
                <th>
                    <div style="width: 200px">Nguyên tắc chấm điểm</div>
                </th>
                <th>
                    Điểm
                </th>
                @if ((int)Session["donvi"] == 1)
                {
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Tự chấm</div></th>
                }
                @if ((int)Session["donvi"] == 2)
                {
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Chi đoàn chấm</div></th>
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Cụm/Huyện/Thành đoàn chấm</div></th>
                }
                @if ((int)Session["donvi"] == 3)
                {
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Chi đoàn chấm</div></th>
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Cụm/Huyện/Thành đoàn chấm</div></th>
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Tỉnh đoàn điểm</div></th>
                }
                <th>
                    Yêu cầu trong đánh giá kết quả thực hiện
                </th>
                <th>
                    Yêu cầu minh chứng
                </th>
                <th>
                    Ý kiến phản hồi
                </th>
                <th>
                    Ban phụ trách
                </th>
                <th></th>
            </tr>
            @{
                var (x, j) = (0, 0);
            }
            @using (Html.BeginForm("chamDiem", "nguoiDung", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <tbody>

                    @foreach (var group in Model.GroupBy(i => i.chiTieu))
                    {


                    @Html.AntiForgeryToken()
                    var items = group.ToList();
                    if (items[0].loaiTieuChi.iD != j)
                    {
                    <tr>
                        <td colspan="11">@items[0].loaiTieuChi.iD. @items[0].loaiTieuChi.ten (@items[0].loaiTieuChi.tongDiem)</td>
                    </tr>
                    j = items[0].loaiTieuChi.iD;
                    }
                    if (items[0].nhomChiTieu.iD != x)
                    {
                    <tr>
                        <td colspan="11">@items[0].nhomChiTieu.iD. @items[0].nhomChiTieu.ten (@items[0].nhomChiTieu.tongDiem)</td>
                    </tr>
                    x = items[0].nhomChiTieu.iD;
                    }
                    <tr class="trTable">
                        <td rowspan="@items.Count"><div style="width:300px">@group.Key.ten</div></td>
                        <td>@items[0].chiTietChiTieu.noiDung</td>
                        <td>@items[0].chiTietChiTieu.diem</td>
                        @if ((int)Session["donvi"] == 1)
                        {
                            <td rowspan="@items.Count"><input type="number" class="form-control" name="diem" value="@items[0].bangDiem.diemChiDoan" min="0" max="@items[0].bangDiem.diemCoDinh" required /></td>
                        }
                        @if ((int)Session["donvi"] == 2)
                        {
                            <td rowspan="@items.Count">@items[0].bangDiem.diemChiDoan</td>
                            <td rowspan="@items.Count"><input type="number" class="form-control" name="diem" value="@items[0].bangDiem.diemThanhDoan" min="0" max="@items[0].bangDiem.diemCoDinh" required /></td>
                        }
                        @if ((int)Session["donvi"] == 3)
                        {
                            <td rowspan="@items.Count">@items[0].bangDiem.diemChiDoan</td>
                            <td rowspan="@items.Count">@items[0].bangDiem.diemThanhDoan</td>
                            <td rowspan="@items.Count"><input type="number" class="form-control" name="diem" value="@items[0].bangDiem.diemTinhDoan" min="0" max="@items[0].bangDiem.diemCoDinh" required /></td>
                        }
                        <td rowspan="@items.Count" class="tdDanhGia"><div class="divDanhGia" style="width:350px; overflow-x:auto">@group.Key.ycDanhGiaKQ</div></td>
                        <td rowspan="@items.Count" style="text-align:center">
                            <textarea cols="10" rows="5" class="form-control" name="ycMinhChung">@items[0].bangDiem.ycMinhChung</textarea>
                            @if (items[0].bangDiem.hinhAnh != null)
                            {
                                var base64 = Convert.ToBase64String(items[0].bangDiem.hinhAnh);
                                var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                <img class="text-center" style="object-fit:cover; width:96px; height:96px" id="@items[0].bangDiem.id" src="@imgsrc" onclick="imgClick(@items[0].bangDiem.id)" />
                                <input accept="image/*" type="file" id="@items[0].bangDiem.id" name="hinhAnh"
                                       onchange="document.getElementById(@items[0].bangDiem.id).src = window.URL.createObjectURL(this.files[0])">
                            }
                            else
                            {
                                <img class="text-center" style="object-fit:cover; width:96px; height:96px" id="@items[0].bangDiem.id" onclick="imgClick(@items[0].bangDiem.id)" />
                                <input accept="image/*" type="file" id="@items[0].bangDiem.id" name="hinhAnh"
                                       onchange="document.getElementById(@items[0].bangDiem.id).src = window.URL.createObjectURL(this.files[0])">
                            }
                        </td>
                        <td rowspan="@items.Count">
                            <textarea style="width:200px" rows="5" class="form-control" name="banPhuTrach">@items[0].bangDiem.yKienPhanHoi</textarea>
                        </td>
                        <td rowspan="@items.Count">
                            <textarea style="width:100px" rows="2" class="form-control" name="banPhuTrach">@items[0].bangDiem.banPhuTrach</textarea>
                        </td>
                    </tr>
                    for (int index = 1; index < items.Count; index++)
                    {
                    <tr>
                        <td>@items[index].chiTietChiTieu.noiDung</td>
                        <td>@items[index].chiTietChiTieu.diem</td>
                    </tr>
                    }

                    }
                    
                    
                </tbody>
                <tfoot>
                    <input style="position: fixed; top:50%; right: 0px;" type="submit" class="btn btn-outline-success" value="Lưu" />
                    <td><input type="submit" class="btn btn-success" value="Gửi lên đơn vị" /></td>
                </tfoot>
            }
            </table>
    </div>
    @*Create model image*@
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Hình ảnh</h4>
                </div>
                <div class="modal-body text-center">
                    <img src="" id="imagepreview" style="width: 100%; height: 400px; object-fit:cover">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function urlify(text) {
        var urlRegex = /(https?:\/\/[^\s]+)/g;
        return text.replace(urlRegex, function (url) {
            return '<a href="' + url + '">' + url + '</a>';
        })
    }
    $("table .trTable .tdDanhGia").each(function (i, e) {

        var urlText = urlify(e.innerHTML);
        e.innerHTML = urlText
    });
    function imgClick(hinhanh) {
        $('#imagepreview').attr('src', $(`#${hinhanh}`).attr('src'));
        $('#imagemodal').modal('show');
    }
</script>
