

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                Loại tiêu chí
            </th>
            <th>
                Tổng điểm
            </th>
            <th>
                Đơn vị tiếp nhận
            </th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.tieuChi_giaoChiTieu)
        {
            foreach (var loaiCT in ViewBag.chiTieuTheoLoaiChiTieu)
            {
                if ((int)Session["dm_DonVi"] != 1)
                {
                    if (loaiCT.loaiTieuChi.iD == item.loaiTieuChi.iD)
                    {

                        if (item.bangDiem.diem != null)
                        {

                        }
                        else
                        {
                            <tr>
                                <td>
                                    @item.loaiTieuChi.ten
                                </td>
                                <td>
                                    @item.loaiTieuChi.tongDiem
                                </td>
                                @foreach (var item1 in ViewBag.tieuChi_giaoChiTieu)
                                {
                                    if (item1.loaiTieuChi.iD == item.loaiTieuChi.iD)
                                    {
                                        <td>@item.nguoiDung.ten / @item.donVi.ten</td>
                                    }

                                }

                                <td>
                                    @Html.ActionLink("Chưa chấm xong", "chamDiemLoaiTieuChi", new { id = item.loaiTieuChi.iD })
                                </td>
                            </tr>
                        }

                    }
                }

            }
            <tr>
                <td>
                    @item.loaiTieuChi.ten
                </td>
                <td>
                    @item.loaiTieuChi.tongDiem
                </td>
                @foreach (var item1 in ViewBag.tieuChi_giaoChiTieu)
                {
                    if (item1.loaiTieuChi.iD == item.loaiTieuChi.iD)
                    {
                        <td>@item.nguoiDung.ten / @item.donVi.ten</td>
                    }

                }

                <td>
                    @Html.ActionLink("Chấm điểm", "chamDiemLoaiTieuChi", new { id = item.loaiTieuChi.iD }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.iD }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.iD })*@
                </td>
            </tr>
        }

    </table>
</body>
</html>
