

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                Loại tiêu chí
            </th>
            <th>
                Tổng điểm
            </th>
            <th>
                Đơn vị tiếp nhận
            </th>
            <th></th>
        </tr>
        @{ var j = 0;}
        @for (int i = 0; i < ViewBag.tieuChi_giaoChiTieu.Count; i++)
        {
         
            <tr>
                <td>
                    @ViewBag.tieuChi_giaoChiTieu[i].loaiTieuChi.ten
                </td>
                <td>
                    @ViewBag.tieuChi_giaoChiTieu[i].loaiTieuChi.tongDiem
                </td>
                @foreach (var item1 in ViewBag.tieuChi_giaoChiTieu)
                {
                    if (item1.loaiTieuChi.iD == ViewBag.tieuChi_giaoChiTieu[i].loaiTieuChi.iD)
                    {
                        if (@ViewBag.searchDonViCon.Count != 0)
                        {
                            <td>@ViewBag.searchDonViCon[0].nguoiDung.ten / @ViewBag.searchDonViCon[0].donVi.ten</td>

                        }
                        else
                        {
                            <td>@ViewBag.tieuChi_giaoChiTieu[i].nguoiDung.ten / @ViewBag.tieuChi_giaoChiTieu[i].donVi.ten</td>

                        }
                    }

                }
                @while (ViewBag.countLoaiTieuChi2[j] == 0)
                {
                    j += 1;
                }
                
                @if (ViewBag.countLoaiTieuChi1[j] == ViewBag.countLoaiTieuChi2[j])
                {
                    <td>
                        @Html.ActionLink("Chấm điểm", "chamDiemLoaiTieuChi", new { id = ViewBag.tieuChi_giaoChiTieu[i].loaiTieuChi.iD })
                    </td>
                }
                @if (ViewBag.countLoaiTieuChi1[j] > ViewBag.countLoaiTieuChi2[j])
                {
                    <td>
                        @Html.ActionLink("Đơn vị tiếp nhận chưa chấm xong", "chamDiemLoaiTieuChi", new { id = ViewBag.tieuChi_giaoChiTieu[i].loaiTieuChi.iD })
                    </td>
                }
            </tr>
            j += 1;
        }

    </table>
</body>
</html>
