

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                Loại tiêu chí
            </th>
            <th>
                Tổng điểm
            </th>
            <th>
                Đơn vị tiếp nhận
            </th>
            <th></th>
        </tr>
        @{
            int biendem = 0;
        }
        @foreach (var item in ViewBag.tieuChi_giaoChiTieu)
        {
                <tr>
                    <td>
                        @item.loaiTieuChi.ten
                    </td>
                    <td>
                        @item.loaiTieuChi.tongDiem
                    </td>
                    @foreach (var item1 in ViewBag.tieuChi_giaoChiTieu)
                    {
                        if (item1.loaiTieuChi.iD == item.loaiTieuChi.iD)
                        {
                            <td>@item.nguoiDung.ten / @item.donVi.ten</td>
                        }

                    }


                    @if (ViewBag.countLoaiTieuChi1[biendem] == ViewBag.countLoaiTieuChi2[biendem])
                    {
                        <td>
                            @Html.ActionLink("Chấm điểm", "chamDiemLoaiTieuChi", new { id = item.loaiTieuChi.iD })
                        </td>
                    }
                    @if (ViewBag.countLoaiTieuChi1[biendem] > ViewBag.countLoaiTieuChi2[biendem])
                    {
                        <td>
                            @Html.ActionLink("Đơn vị tiếp nhận chưa chấm xong", "chamDiemLoaiTieuChi", new { id = item.loaiTieuChi.iD })
                        </td>
                    }
                </tr>
                biendem += 1;
            



        }

    </table>
</body>
</html>
