@model  WebApplication1.Models.listdataBangDiem

<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Index</title>
</head>
<body>
    <h1>Chấm điểm</h1>
    <div class="d-flex justify-content-between">
        <div>
            @using (Html.BeginForm())
            {
                <table>
                    <tr>
                        <td>Năm</td>
                        <td>@Html.DropDownList("year", (SelectList)ViewBag.listYear, htmlAttributes: new { @class = "form-control w-auto" })</td>
                    </tr>
                    @if ((int)Session["donvi"] != 1)
                    {
                        <tr>
                            <td>Đơn vị</td>
                            <td>@Html.DropDownList("nguoiDung", (IEnumerable<SelectListItem>)ViewBag.listnguoiDung, new { @class = "form-control w-auto" })</td>
                        </tr>
                    }
                    <tr>
                        <td><input type="submit" class="btn btn-outline-primary w-100 h-25" value="Chọn" /></td>
                    </tr>
                </table>
            }
        </div>
        <div>
            @using (Html.BeginForm("ExportToExcel", "Export", FormMethod.Post, new { id = "exportForm" }))
            {
                <button type="button" onclick="showConfirmation()">Xuất file excel</button>
            }
        </div>
    </div>
    <div class="overflow-auto" style="height: 80vh">
        <table class="table table-bordered" id="table" width="100%">

            <tr class="position-sticky top-0 bg-black text-light">
                <th>
                    Điều kiện chấm điểm
                </th>
                <th>
                    <div style="width: 200px">Nguyên tắc chấm điểm</div>
                </th>
                <th>
                    Điểm
                </th>
                @if ((int)Session["donvi"] == 1)
                {
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Tự chấm</div></th>
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Cụm/Huyện/Thành đoàn chấm</div></th>
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Tỉnh đoàn điểm</div></th>
                }
                @if ((int)Session["donvi"] == 2)
                {
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Chi đoàn chấm</div></th>
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Cụm/Huyện/Thành đoàn chấm</div></th>
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Tỉnh đoàn điểm</div></th>
                }
                @if ((int)Session["donvi"] == 3)
                {
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Chi đoàn chấm</div></th>
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Cụm/Huyện/Thành đoàn chấm</div></th>
                    <th style="white-space: nowrap; "><div style=" width: 60px; overflow-x: auto">Tỉnh đoàn điểm</div></th>
                }
                <th>
                    Yêu cầu trong đánh giá kết quả thực hiện
                </th>
                <th>
                    <div style="width:300px">Yêu cầu minh chứng</div>
                </th>
                <th>
                    <div style="width:300px">Ý kiến phản hồi</div>
                </th>
                <th>
                    Ban phụ trách
                </th>
                <th>
                    Thời gian
                </th>
            </tr>
            @{
                var (x, j) = (0, 0);
                var count = 0;
            }
            @using (Html.BeginForm("chamDiem", "nguoiDung", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <tbody>
                    @foreach (var group in Model.dataBangDiems.GroupBy(i => i.chiTieu))
                    {

                        var items = group.ToList();
                        if (items[0].loaiTieuChi.iD != j)
                        {
                            <tr>
                                <td colspan="11"><p class="fw-bold">@(j+1). @items[0].loaiTieuChi.ten (@items[0].loaiTieuChi.tongDiem)</p></td>
                            </tr>
                            j = items[0].loaiTieuChi.iD;
                        }
                        if (items[0].nhomChiTieu.iD != x)
                        {
                            <tr>
                                <td colspan="11"><p class="fw-bold">@(x+1). @items[0].nhomChiTieu.ten (@items[0].nhomChiTieu.tongDiem)</p></td>
                            </tr>
                            x = items[0].nhomChiTieu.iD;
                        }
                        <tr class="trTable">
                            <input name="dataBangDiems[@count].bangDiem.id" type="hidden" value="@items[0].bangDiem.id" />
                            <td rowspan="@items.Count"><div style="width:300px">@group.Key.ten</div></td>
                            <td>@items[0].chiTietChiTieu.noiDung</td>
                            <td>@items[0].chiTietChiTieu.diem</td>
                            @* Session 1 *@
                            @if ((int)Session["donvi"] == 1)
                            {
                                <td rowspan="@items.Count"><input type="number" class="form-control" name="dataBangDiems[@count].bangDiem.diemChiDoan" value="@items[0].bangDiem.diemChiDoan" min="0" max="@items[0].bangDiem.diemCoDinh" required /></td>
                                if (items[0].bangDiem.trangThai >= 2)
                                {
                                    <td rowspan="@items.Count">
                                        @items[0].bangDiem.diemThanhDoan
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count">
                                        0
                                    </td>
                                }
                                if (items[0].bangDiem.trangThai >= 3)
                                {
                                    <td rowspan="@items.Count">
                                        @items[0].bangDiem.diemTinhDoan
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count">
                                        0
                                    </td>
                                }
                                <td rowspan="@items.Count" class="tdDanhGia"><div class="divDanhGia" style="width:350px; overflow-x:auto">@group.Key.ycDanhGiaKQ</div></td>
                                <td rowspan="@items.Count" style="text-align:center">
                                    <textarea cols="10" rows="5" class="form-control" name="dataBangDiems[@count].bangDiem.ycMinhChung">@items[0].bangDiem.ycMinhChung</textarea>
                                    @if (items[0].bangDiem.hinhAnh != null)
                                    {
                                        var base64 = Convert.ToBase64String(items[0].bangDiem.hinhAnh);
                                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                        <img class="text-center" style="object-fit:cover; width:96px; height:96px" name="dataBangDiems[@count].bangDiem.HinhAnhFile" id="@items[0].bangDiem.id" src="@imgsrc" onclick="imgClick(@items[0].bangDiem.id)" />
                                        <input accept="image/*" type="file" id="@items[0].bangDiem.id" name="dataBangDiems[@count].bangDiem.HinhAnhFile"
                                               onchange="document.getElementById(@items[0].bangDiem.id).src = window.URL.createObjectURL(this.files[0])">
                                    }
                                    else
                                    {
                                        <img class="text-center" style="object-fit:cover; width:96px; height:96px" name="dataBangDiems[@count].bangDiem.HinhAnhFile" id="@items[0].bangDiem.id" onclick="imgClick(@items[0].bangDiem.id)" />
                                        <input accept="image/*" type="file" id="@items[0].bangDiem.id" name="dataBangDiems[@count].bangDiem.HinhAnhFile"
                                               onchange="document.getElementById(@items[0].bangDiem.id).src = window.URL.createObjectURL(this.files[0])">
                                    }
                                </td>
                                if (@items[0].bangDiem.trangThai == 3)
                                {
                                    <td rowspan="@items.Count">
                                        @items[0].bangDiem.yKienPhanHoi
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count">
                                    </td>
                                }
                                <td rowspan="@items.Count">
                                    <textarea style="width:100px" rows="2" class="form-control" name="dataBangDiems[@count].bangDiem.banPhuTrach">@items[0].bangDiem.banPhuTrach</textarea>
                                </td>

                                <td rowspan="@items.Count">
                                    @((items[0].bangDiem.thoiGian != null) ? items[0].bangDiem.thoiGian.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                            }
                            @* Session 2 *@
                            @if ((int)Session["donvi"] == 2)
                            {
                                if (items[0].bangDiem.trangThai >= 1)
                                {
                                    <td rowspan="@items.Count">
                                        @items[0].bangDiem.diemChiDoan
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count">
                                        0
                                    </td>
                                }
                                <td rowspan="@items.Count"><input type="number" class="form-control" name="dataBangDiems[@count].bangDiem.diemThanhDoan" value="@items[0].bangDiem.diemThanhDoan" min="0" max="@items[0].bangDiem.diemCoDinh" required /></td>
                                if (items[0].bangDiem.trangThai >= 3)
                                {
                                    <td rowspan="@items.Count">
                                        @items[0].bangDiem.diemTinhDoan
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count">
                                        0
                                    </td>
                                }
                                <td rowspan="@items.Count" class="tdDanhGia"><div class="divDanhGia" style="width:350px; overflow-x:auto">@group.Key.ycDanhGiaKQ</div></td>
                                if (items[0].bangDiem.trangThai >= 1)
                                {
                                    <td rowspan="@items.Count" style="text-align:center">
                                        <textarea cols="10" rows="5" class="form-control" readonly>@items[0].bangDiem.ycMinhChung</textarea>
                                        @if (items[0].bangDiem.hinhAnh != null)
                                        {
                                            var base64 = Convert.ToBase64String(items[0].bangDiem.hinhAnh);
                                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                            <img class="text-center" style="object-fit:cover; width:96px; height:96px" id="@items[0].bangDiem.id" src="@imgsrc" onclick="imgClick(@items[0].bangDiem.id)" />
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count"></td>
                                }
                                if (@items[0].bangDiem.trangThai == 3)
                                {
                                    <td rowspan="@items.Count">
                                        @items[0].bangDiem.yKienPhanHoi
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count">
                                    </td>
                                }
                                if (@items[0].bangDiem.trangThai >= 1)
                                {
                                    <td rowspan="@items.Count">
                                        <textarea style="width:100px" rows="2" class="form-control" readonly>@items[0].bangDiem.banPhuTrach</textarea>
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count">
                                    </td>
                                }
                                <td rowspan="@items.Count">
                                    @((items[0].bangDiem.thoiGian != null) ? items[0].bangDiem.thoiGian.Value.ToString("dd/MM/yyyy") : "")
                                </td>

                            }
                            @* Session 3 *@
                            @if ((int)Session["donvi"] == 3)
                            {
                                if (items[0].bangDiem.trangThai >= 1)
                                {
                                    <td rowspan="@items.Count">
                                        @items[0].bangDiem.diemChiDoan
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count">
                                        0
                                    </td>
                                }
                                if (items[0].bangDiem.trangThai >= 2)
                                {
                                    <td rowspan="@items.Count">
                                        @items[0].bangDiem.diemThanhDoan
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count">
                                        0
                                    </td>
                                }
                                <td rowspan="@items.Count"><input type="number" class="form-control" name="dataBangDiems[@count].bangDiem.diemTinhDoan" value="@items[0].bangDiem.diemTinhDoan" min="0" max="@items[0].bangDiem.diemCoDinh" required /></td>
                                <td rowspan="@items.Count" class="tdDanhGia"><div class="divDanhGia" style="width:350px; overflow-x:auto">@group.Key.ycDanhGiaKQ</div></td>
                                if (items[0].bangDiem.trangThai >= 1)
                                {
                                    <td rowspan="@items.Count" style="text-align:center">
                                        <textarea cols="10" rows="5" class="form-control" readonly>@items[0].bangDiem.ycMinhChung</textarea>
                                        @if (items[0].bangDiem.hinhAnh != null)
                                        {
                                            var base64 = Convert.ToBase64String(items[0].bangDiem.hinhAnh);
                                            var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                                            <img class="text-center" style="object-fit:cover; width:96px; height:96px" id="@items[0].bangDiem.id" src="@imgsrc" onclick="imgClick(@items[0].bangDiem.id)" />
                                        }


                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count"></td>
                                }
                                <td rowspan="@items.Count">
                                    <textarea rows="5" class="form-control" name="dataBangDiems[@count].bangDiem.yKienPhanHoi">@items[0].bangDiem.yKienPhanHoi</textarea>
                                </td>
                                if (items[0].bangDiem.trangThai >= 1)
                                {
                                    <td rowspan="@items.Count">
                                        @items[0].bangDiem.banPhuTrach
                                    </td>
                                }
                                else
                                {
                                    <td rowspan="@items.Count"></td>
                                }

                                <td rowspan="@items.Count">
                                    @((items[0].bangDiem.thoiGian != null) ? items[0].bangDiem.thoiGian.Value.ToString("dd/MM/yyyy") : "")
                                </td>
                            }
                        </tr>
                        for (int index = 1; index < items.Count; index++)
                        {
                            <tr>
                                <td>@items[index].chiTietChiTieu.noiDung</td>
                                <td>@items[index].chiTietChiTieu.diem</td>
                            </tr>
                        }
                        count += 1;
                    }
                </tbody>
                <tfoot>

                    <tr>

                        @if ((int)Session["donvi"] == 1)
                        {
                            bool hasItemWithTrangThai = false;
                            foreach (var item in Model.dataBangDiems)
                            {

                                if (item.bangDiem.trangThai == 0)
                                {
                                    hasItemWithTrangThai = true;
                                    break; // Nếu tìm thấy một mục có trangThai == 0, thoát khỏi vòng lặp
                                }

                            }
                            if (hasItemWithTrangThai)
                            {
                                <button style="position: fixed; top:50%; right: 0px;" type="submit" name="submit" class="btn btn-outline-success" value="update">Lưu</button>


                                <td>
                                    <button type="submit" class="btn btn-success" name="submit" value="send">Gửi lên đơn vị</button>
                                </td>
                            }
                            else
                            {
                                <button style="position: fixed; top:50%; right: 0px;" type="submit" name="submit" class="btn btn-outline-success" value="update">Lưu</button>
                                <td>
                                    <button type="submit" class="btn btn-success" name="submit" value="update">Cập nhật</button>
                                </td>

                            }
                        }
                        @if ((int)Session["donvi"] == 2)
                        {
                            bool hasItemWithTrangThai = false;
                            foreach (var item in Model.dataBangDiems)
                            {

                                if (item.bangDiem.trangThai == 1)
                                {
                                    hasItemWithTrangThai = true;
                                    break; // Nếu tìm thấy một mục có trangThai == 1, thoát khỏi vòng lặp
                                }


                            }
                            if (hasItemWithTrangThai)
                            {
                                <button style="position: fixed; top:50%; right: 0px;" type="submit" name="submit" class="btn btn-outline-success" value="update">Lưu</button>
                                <td>
                                    <button type="submit" class="btn btn-success" name="submit" value="send">Gửi lên đơn vị</button>
                                </td>
                            }
                            else
                            {
                                <button style="position: fixed; top:50%; right: 0px;" type="submit" name="submit" class="btn btn-outline-success" value="update">Lưu</button>

                                <td>
                                    <button type="submit" class="btn btn-success" name="submit" value="update">Cập nhật</button>
                                </td>

                            }
                        }
                        @if ((int)Session["donvi"] == 3)
                        {
                            bool hasItemWithTrangThai = false;
                            foreach (var item in Model.dataBangDiems)
                            {

                                if (item.bangDiem.trangThai == 2)
                                {
                                    hasItemWithTrangThai = true;
                                    break; // Nếu tìm thấy một mục có trangThai == 3, thoát khỏi vòng lặp
                                }

                            }
                            if (hasItemWithTrangThai)
                            {
                                <button style="position: fixed; top:50%; right: 0px;" type="submit" name="submit" class="btn btn-outline-success" value="update">Lưu</button>

                                <td>
                                    <button type="submit" class="btn btn-success" name="submit" value="send">Phản hồi</button>
                                </td>
                            }
                            else
                            {
                                <button style="position: fixed; top:50%; right: 0px;" type="submit" name="submit" class="btn btn-outline-success" value="update">Lưu</button>

                                <td>
                                    <button type="submit" class="btn btn-success" name="submit" value="update">Cập nhật</button>
                                </td>
                            }

                        }
                    </tr>

                </tfoot>
            }
        </table>
    </div>
    @*Create model image*@
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Hình ảnh</h4>
                </div>
                <div class="modal-body text-center">
                    <img src="" id="imagepreview" style="width: 100%; height: 400px; object-fit:cover">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@if (!string.IsNullOrEmpty(Model.MyMessage))
{
    if (Model.MyMessage == "update")
    {
        <script>
            // Hiển thị cửa sổ cảnh báo với nội dung là giá trị của myMessage
            alert('Lưu thành công');
        </script>
    }
    if (Model.MyMessage == "update1")
    {
        <script>
            // Hiển thị cửa sổ cảnh báo với nội dung là giá trị của myMessage
            alert('Bảng điểm đã được phản hồi không thể cập nhật');
        </script>
    }
    if (Model.MyMessage == "send")
    {
        <script>
            // Hiển thị cửa sổ cảnh báo với nội dung là giá trị của myMessage
            alert('Gửi thành công');
        </script>
    }
    if (Model.MyMessage == "send1")
    {
        <script>
            // Hiển thị cửa sổ cảnh báo với nội dung là giá trị của myMessage
            alert('Bảng điểm đã được phản hồi không thể gửi');
        </script>
    }
    if (Model.MyMessage == "fail")
    {
        <script>
            // Hiển thị cửa sổ cảnh báo với nội dung là giá trị của myMessage
            alert('Không thành công');
        </script>
    }
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
@{ 
    int year = (int)TempData["year"];
}
<script>
    function showConfirmation() {
        // Hiển thị cửa sổ cảnh báo với nút "Huỷ" và "Lưu"
        if (confirm(`Dữ liệu sẽ được xuất năm @year. Bạn có muốn tiếp tục không?`)) {
            // Nếu người dùng chọn "Lưu", gửi form
            document.getElementById('exportForm').submit();
        } else {
            // Nếu người dùng chọn "Huỷ", không làm gì cả
        }
    }
    function urlify(text) {
        var urlRegex = /(https?:\/\/[^\s]+)/g;
        return text.replace(urlRegex, function (url) {
            return '<a target="_blank" href="' + url + '">' + url + '</a>';
        })
    }
    $("table .trTable .tdDanhGia").each(function (i, e) {

        var urlText = urlify(e.innerHTML);
        e.innerHTML = urlText
    });
    function imgClick(hinhanh) {
        $('#imagepreview').attr('src', $(`#${hinhanh}`).attr('src'));
        $('#imagemodal').modal('show');
    }

</script>
