@model WebApplication1.Models.nhomChiTieu

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm mới</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Nhóm chỉ tiêu</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.fk_loaiTieuChi, "Loại tiêu chí", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("fk_loaiTieuChi", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.fk_loaiTieuChi, "", new { @class = "text-danger" })
        </div>
    </div>
    <div id="nhomChiTieuContainer">
        <!-- Dùng JavaScript để thêm các field nhập liệu cho từng nhóm chỉ tiêu -->
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="button" onclick="addNhomChiTieuField()" class="btn btn-primary">Thêm nhóm chỉ tiêu mới</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>


<script>
        function addNhomChiTieuField() {
            var container = document.getElementById('nhomChiTieuContainer');
            var index = container.children.length;
            var html = `
                <div class="nhomChiTieuRow d-flex my-4">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-lg-10">Nhóm chỉ tiêu ${index + 1}</label>
                        <div class="col-md-10">
                            <input type="text" name="nhomChiTieuList[${index}].ten" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-lg-10">Tổng điểm</label>
                        <div class="col-md-10">
                            <input type="number" name="nhomChiTieuList[${index}].tongDiem" class="form-control" required />
                        </div>
                    </div>
                </div>`;
            container.insertAdjacentHTML('beforeend', html);
        }
</script>