@model WebApplication1.Models.nhomChiTieu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn chắc chắn muốn xoá?</h3>
<div>
    <h4>Nhóm tiêu chí</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Loại tiêu chí
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaiTieuChi.ten)
        </dd>
        <dt>
            Nhóm chỉ tiêu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            Tổng điểm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongDiem)
        </dd>



    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoá" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
