@model WebApplication1.Models.nhomChiTieu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>nhomChiTieu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tongDiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tongDiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loaiTieuChi.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaiTieuChi.ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.iD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
