@model  List<WebApplication1.Models.loaiTieuChi>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Thêm", "Create")
    </p>
    @using (Html.BeginForm())
    {
        <div class="d-flex align-items-center justify-content-end">
            <p class="mt-auto mb-auto ">Năm</p>
            @Html.DropDownList("year", (SelectList)ViewBag.listYear, htmlAttributes: new { @class = "form-control w-auto", onchange = "this.form.submit();" })
        </div>

    }

    <table class="table table-bordered">
        <tr>
            <th>
                Loại tiêu chí
            </th>
            <th>
                Tổng điểm
            </th>
            <th>
                Đơn vị tiếp nhận
            </th>
            <th></th>
        </tr>
        @foreach (var l in Model)
        {
            var biendem = 0;
            <tr class="trTable">

                <td>
                    @Html.DisplayFor(model => l.ten)
                </td>
                <td>
                    @Html.DisplayFor(model => l.tongDiem)
                </td>
                <td class="tdDonVi">
                    @foreach (var item in ViewBag.lsdm_donvi)
                    {
                        if (l.iD == item.loaiTieuChi.iD && biendem != item.dm_DonVi.iD)
                        {
                            <div>@item.dm_DonVi.nguoiDung.ten / @item.dm_DonVi.nguoiDung.donVi.ten</div>
                            biendem = item.dm_DonVi.iD;
                        }


                    }
                </td>
                <td class="d-none">
                    @Html.ActionLink("Thêm đơn vị", "AddDonVi", new { id = l.iD })
                </td>
                <td class="d-none">
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = l.iD })
                </td>

            </tr>
        }



    </table>
</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function isEmpty(td) {
        if (td.text == '' || td.text() == ' ' || td.html() == '&nbsp;' || td.is(":not(:visible)")) {
            return true;
        }

        return false;
    }
    $("table .trTable").each(function () {
        $(this).find("td:nth-child(3)").each(function () {
            if ($(this).text().trim() == "") {
                $(this).next("td").removeClass("d-none");
                //console.log($(this).next("td").hide());
                $(this).remove();
            } else {
                $(this).next("td").next("td").removeClass("d-none");
            }
            
        });
    });
</script>