

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Thêm", "Create")
    </p>
    @using (Html.BeginForm())
    {
        <div class="d-flex align-items-center justify-content-end">
            <p class="mt-auto mb-auto ">Năm</p>
            @Html.DropDownList("year", (SelectList)ViewBag.listYear, htmlAttributes: new { @class = "form-control w-auto", onchange = "this.form.submit();" })
        </div>
        
    }

    <table class="table table-bordered">
        <tr>
            <th>
                Loại tiêu chí
            </th>
            <th>
                Tổng điểm
            </th>
            <th>
                Đơn vị tiếp nhận
            </th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.tieuChi_loaiTieuChi)
        {
            <tr>
                <td>
                    @item.loaiTieuChi.ten
                </td>
                <td>
                    @item.loaiTieuChi.tongDiem
                </td>
                @*@foreach (var item1 in ViewBag.tieuChi_giaoChiTieu)
                    {
                        if (item1.loaiTieuChi.iD == item.loaiTieuChi.iD)
                        {
                            if (item1.giaoChiTieuchoDV.fk_chiTieu == item.chiTieu.iD)
                            {
                                <td>@item1.nguoiDung.ten / @item1.donVi.ten</td>
                            }
                        }

                    }*@

                <td>
                    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.loaiTieuChi.iD })
                    @*@Html.ActionLink("Details", "Details", new { id = item.iD }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.iD })*@
                </td>
            </tr>
        }

    </table>
</body>
</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    
</script>