@model WebApplication1.Models.chiTietChiTieu

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thêm</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Chi tiết chỉ tiêu</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Chọn năm:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("selectedYear", ViewBag.YearsList as SelectList, "-- Chọn năm --", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Chọn loại tiêu chí:", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select id="fk_loaiTieuChi" name="fk_loaiTieuChi" class="form-control" required>
                        <option value="">-- Chọn loại tiêu chí --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Chọn nhóm chỉ tiêu: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select id="fk_nhomChiTieu" name="fk_nhomChiTieu" class="form-control" required>
                        <option value="">-- Chọn nhóm chỉ tiêu --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Chọn chỉ tiêu: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select id="fk_loaiChiTieu" name="fk_loaiChiTieu" class="form-control" required>
                        <option value="">-- Chọn chỉ tiêu --</option>
                    </select>
                </div>
            </div>
            <div id="chiTietContainer">

            </div>
            <div class="form-group  mt-1">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" onclick="addChiTiet()" class="btn btn-outline-primary">Thêm chi tiết chỉ tiêu mới</button>
                </div>
            </div>
            <div class="form-group mt-4">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Thêm" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Quay lại", "Index")
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    function addChiTiet() {
        var container = document.getElementById("chiTietContainer");
        var index = container.children.length;
        var html = `
            <div class="chiTietRow d-flex mt-3">
                <div class="form-group">
                    <label class="control-label col-md-2 col-lg-10">Tên chi tiết ${index + 1} :</label>
                    <div class="col-md-10">
                        <input type='text' name="chiTietChiTieuList[${index}].ten" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-lg-10">Điểm:</label>
                    <div class="col-md-10">
                        <input type='number' name="chiTietChiTieuList[${index}].diem" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="" onclick="removeChiTietField(this)">Xóa</button>
                </div>
            </div>`;
        container.insertAdjacentHTML('beforeend', html);
    }
    function removeChiTietField(button) {
        // Lấy phần tử cha của nút xóa, tức là div chứa nhóm chỉ tiêu
        var chiTietRow = button.closest('.chiTietRow');
        // Xóa nhóm chỉ tiêu khỏi DOM
        chiTietRow.remove();
    }
    $(document).ready(function () {
        $('#selectedYear').change(function () {
            loadLoaiTieuChi();
        });
        $('#fk_loaiTieuChi').change(function () {
            loadNhomChiTieu();
        });
        $('#fk_nhomChiTieu').change(function () {
            loadChiTieu();
        });
    });

        function loadLoaiTieuChi() {
            var selectedYear = document.getElementById("selectedYear").value;
            $.ajax({
                url: '/nhomChiTieu/GetLoaiTieuChi',
                method: "get",
                data: { selectedYear: selectedYear },
                success: function (response) {
                    // Xóa tất cả các option trong dropdown chọn loại tiêu chí
                    $('#fk_loaiTieuChi').empty();
                    // Thêm các option mới dựa trên danh sách loại tiêu chí nhận được từ server
                    $('#fk_loaiTieuChi').append($('<option>', {
                        text: '-- Chọn loại tiêu chí --'
                    }));
                    $.each(response, function (index, item) {
                        $('#fk_loaiTieuChi').append($('<option>', {
                            value: item.iD,
                            text: item.ten
                        }));
                    });
                },
                failed: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        function loadNhomChiTieu() {
            var selectedLoaiTieuChi = document.getElementById("fk_loaiTieuChi").value;
            $.ajax({
                url: '/nhomChiTieu/GetNhomChiTieu',
                method: "get",
                data: { selectedLoaiTieuChi: selectedLoaiTieuChi },
                success: function (response) {
                    // Xóa tất cả các option trong dropdown chọn loại tiêu chí
                    $('#fk_nhomChiTieu').empty();
                    // Thêm các option mới dựa trên danh sách loại tiêu chí nhận được từ server
                    $('#fk_nhomChiTieu').append($('<option>', {
                        text: '-- Chọn nhóm chỉ tiêu --'
                    }));
                    $.each(response, function (index, item) {
                        $('#fk_nhomChiTieu').append($('<option>', {
                            value: item.iD,
                            text: item.ten
                        }));
                    });
                },
                failed: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }

        function loadChiTieu() {
            var selectedChiTieu = document.getElementById("fk_nhomChiTieu").value;
            $.ajax({
                url: '/nhomChiTieu/GetChiTieu',
                method: "get",
                data: { selectedChiTieu: selectedChiTieu },
                success: function (response) {
                    // Xóa tất cả các option trong dropdown chọn loại tiêu chí
                    $('#fk_loaiChiTieu').empty();
                    // Thêm các option mới dựa trên danh sách loại tiêu chí nhận được từ server
                    $('#fk_loaiChiTieu').append($('<option>', {
                        text: '-- Chọn chỉ tiêu --'
                    }));
                    $.each(response, function (index, item) {
                        $('#fk_loaiChiTieu').append($('<option>', {
                            value: item.iD,
                            text: item.ten
                        }));
                    });
                },
                failed: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        }
</script>