@model IEnumerable<WebApplication1.Models.chiTietChiTieu>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Thêm", "Create")
    </p>
    @using (Html.BeginForm())
    {
        <div class="d-flex align-items-center justify-content-end my-2">
            <div class="mx-2">
                @Html.DropDownList("year", (SelectList)ViewBag.listYear, "-- Chọn năm --", htmlAttributes: new { @class = "form-control w-auto", onchange = "this.form.submit();" })
            </div>
            <div>
                @Html.DropDownList("loaiTieuChi", (SelectList)ViewBag.loaiTieuChiList, "-- Chọn loại tiêu chí --", htmlAttributes: new { @class = "form-control w-auto", onchange = "this.form.submit();" })
            </div>
            <div>
                @Html.DropDownList("nhomChiTieu", (SelectList)ViewBag.nhomChiTieuList, "-- Chọn nhóm chỉ tiêu --", htmlAttributes: new { @class = "form-control w-auto", onchange = "this.form.submit();" })
            </div>
        </div>
    }
    <table class="table table-bordered">
        <tr>
            <th>
                Tên chỉ tiêu
            </th>
            <th>
                Nội dung chi tiết chỉ tiêu
            </th>
            <th>
                Điểm
            </th>

            <th></th>
        </tr>
        @{
            var biendem = 0;
        }
        @foreach (var item in Model)
        {


            <tr>
                @if (biendem != item.chiTieu.iD)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.chiTieu.ten)
                    </td>
                    biendem = item.chiTieu.iD;
                }
                else
                {
                    <td></td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.noiDung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diem)
                </td>

                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.iD }) |
                    @Html.ActionLink("Xoá", "Delete", new { id = item.iD })
                </td>
            </tr>
        }

    </table>
</body>
</html>
