@model IEnumerable<WebApplication1.Models.chiTieu>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Thêm", "Create")
    </div>
    @using (Html.BeginForm())
    {
        <div class="d-flex align-items-center justify-content-end my-2">
            <div class="mx-2">
                @Html.DropDownList("year", (SelectList)ViewBag.listYear, "-- Chọn năm --", htmlAttributes: new { @class = "form-control w-auto", onchange = "this.form.submit();" })
            </div>
            <div>
                @Html.DropDownList("loaiTieuChi", (SelectList)ViewBag.loaiTieuChiList, "-- Chọn loại tiêu chí --", htmlAttributes: new { @class = "form-control w-auto", onchange = "this.form.submit();" })
            </div>
        </div>
    }
    <table class="table table-bordered">
        <tr>
            <th>
                Nhóm chỉ tiêu
            </th>
            <th>
                Tên chỉ tiêu
            </th>
            <th>
                Yêu cầu đánh giá
            </th>
            <th></th>
        </tr>
        @{
            var biendem = 0;
        }
        @foreach (var item in Model)
        {
            <tr class="trTable">
                @if (item.nhomChiTieu.iD != biendem)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.nhomChiTieu.ten)
                    </td>
                    biendem = item.nhomChiTieu.iD;
                }
                else
                {
                    <td></td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.ten)
                </td>
                <td class="tddanhGia">
                    <div class="divdanhGia" style="width: 300px; overflow-x:auto">@item.ycDanhGiaKQ</div>
                </td>
                <td>
                    @Html.ActionLink("Sửa", "Edit", new { id = item.iD }) |
                    @Html.ActionLink("Xoá", "Delete", new { id = item.iD })
                </td>
            </tr>
        }

    </table>
</body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    function urlify(text) {
        var urlRegex = /(https?:\/\/[^\s]+)/g;
        return text.replace(urlRegex, function (url) {
            return '<a href="' + url + '">' + url + '</a>';
        })
    }
    $("table .trTable .tddanhGia").each(function (i, e) {

        var urlText = urlify(e.innerHTML);
        e.innerHTML = urlText
    });
</script>