@model IEnumerable<WebApplication1.Models.bangDiem>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="overflow-auto" style="height: 80vh">
        <table class="table table-bordered border-1" style="width:100%" id="table">
            <thead class="position-sticky top-0" style="z-index:999; text-align:center">
                <tr class="position-sticky top-0 bg-black text-light" style="z-index:999">
                    <th>
                        <div style="width: 200px">Điều kiện chấm điểm</div>
                    </th>
                    <th>
                        <div style="width: 200px">Nguyên tắc chấm điểm</div>
                    </th>
                    <th>
                        Điểm
                    </th>
                    <th style="white-space: nowrap; ">
                        <div style="width: 60px; overflow-x: auto">Chi đoàn tự chấm điểm</div>
                    </th>
                    <th style="white-space: nowrap; ">
                        <div style="width: 60px; overflow-x: auto">Cụm trưởng/Huyện/TP chấm điểm</div>
                    </th>
                    <th style="white-space: nowrap; ">
                        <div style="width: 60px; overflow-x: auto">Tỉnh đoàn chấm điểm</div>
                    </th>
                    <th>
                        Yêu cầu trong đánh giá kết quả thực hiện
                    </th>
                    <th>
                        Yêu cầu minh chứng
                    </th>
                    <th>
                        <div style="width:90px">Thời gian minh chứng</div>
                    </th>
                    <th>
                        <div style="width: 100px; overflow-x: auto">Ban phụ trách</div>
                    </th>
                </tr>
            </thead>
            @{
                var i = 0;
                var j = 0;
                var x = 0;
                var y = 0;
                var y1 = 0;
                var (diem1, diem2, diem3, diem4) = (0, 0, 0, 0);
                var (biendem1, biendem2, biendem3, biendem4) = (0, 0, 0, 0);
            }
            @foreach (var item in @ViewBag.dataChiTieu)
            {

                if (item.loaiTieuChi.iD != j)
                {
                    <tr>
                        <td colspan="11">@item.loaiTieuChi.iD. @item.loaiTieuChi.ten (@item.loaiTieuChi.tongDiem)</td>
                    </tr>
                    j = item.loaiTieuChi.iD;
                }
                if (item.nhomChiTieu.iD != x)
                {
                    <tr>
                        <td colspan="11">@item.nhomChiTieu.iD. @item.nhomChiTieu.ten (@item.nhomChiTieu.tongDiem)</td>
                    </tr>
                    x = item.nhomChiTieu.iD;
                }
        <tr class="trTable">
            @if (item.chiTieu.iD != i)
            {
                <td style="width: 200px;">
                    <div style="width: 200px; overflow-x: auto; ">@item.chiTieu.ten</div>
                </td>
                i = item.chiTieu.iD;
            }
            else
            {
                <td>
                </td>
            }
            <td style="width: 100px;">
                <div style="width: 200px; overflow-x: auto; ">@item.chiTietChiTieu.noiDung</div>
            </td>
            <td>
                @item.chiTietChiTieu.diem
            </td>

            @foreach (var dataDiem in @ViewBag.dataDiem)
            {

                if (dataDiem.giaoChiTieuchoDV.fk_chiTieu == item.giaoChiTieuchoDV.fk_chiTieu && dataDiem.bangDiem.fk_giaoChiTieu != y)
                {
                    if (dataDiem.nguoiDung.fk_donVi == 1 && dataDiem.bangDiem.id != diem1)
                    {
                        <td>
                            @dataDiem.bangDiem.diem
                        </td>
                        y = dataDiem.bangDiem.fk_giaoChiTieu;
                        diem1 = dataDiem.bangDiem.id;
                    }
                    else if (dataDiem.nguoiDung.fk_donVi == 2 && dataDiem.bangDiem.id != diem2)
                    {
                        <td>
                            @dataDiem.bangDiem.diem
                        </td>
                        y = dataDiem.bangDiem.fk_giaoChiTieu;
                        diem2 = dataDiem.bangDiem.id;
                    }
                    else if (dataDiem.nguoiDung.fk_donVi == 3 && dataDiem.bangDiem.id != diem3)
                    {
                        <td>
                            @dataDiem.bangDiem.diem
                        </td>
                        y = dataDiem.bangDiem.fk_giaoChiTieu;
                        diem3 = dataDiem.bangDiem.id;
                    }
                }



            }

            @if (item.chiTieu.iD != biendem1)
            {
                <td class="tddanhGia"><div class="divdanhGia" style="width: 200px; overflow-x:auto">@item.chiTieu.ycDanhGiaKQ</div></td>
                biendem1 = item.chiTieu.iD;
            }
            @if (item.chiTieu.iD != biendem2)
            {
                <td class="tdMinhChung">
                    <div style="width: 200px; overflow-x:auto">@item.bangDiem.ycMinhChung</div>
                    @if (item.bangDiem.hinhAnh != null)
                    {
                        var base64 = Convert.ToBase64String(item.bangDiem.hinhAnh);
                        var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
                        <img id="@item.bangDiem.id" width="100" height="100" style="object-fit:cover; text-align:center" src="@imgsrc" onclick="imgClick(@item.bangDiem.id)" />

                    }
                </td>
                biendem2 = item.chiTieu.iD;
            }

            @if (item.chiTieu.iD != biendem3)
            {
                if (item.bangDiem.thoiGian != null)
                {
                    <td>@item.bangDiem.thoiGian.ToString("dd-MM-yyyy")</td>
                    biendem3 = item.chiTieu.iD;
                }
                else
                {
                    <td>@item.bangDiem.thoiGian</td>
                    biendem3 = item.chiTieu.iD;
                }

            }
            @if (item.chiTieu.iD != biendem4)
            {
                <td>@item.bangDiem.banPhuTrach</td>
                biendem4 = item.chiTieu.iD;
            }
            <td></td>
        </tr>
            }
        </table>
    </div>
    @*Create model image*@
    <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Hình ảnh</h4>
                </div>
                <div class="modal-body text-center">
                    <img src="" id="imagepreview" style="width: 100%; height: 400px; object-fit:cover">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

    $("table .trTable").each(function () {
        $(this).find("td:nth-child(5) .divdanhGia").each(function () {
            console.log($(this).parent());
            $(this).parent().before("<td></td>")
        });
        $(this).find("td:nth-child(6) .divdanhGia").each(function () {
            console.log($(this).parent());
            $(this).parent().before("<td></td>")
        });
       

    });
    function urlify(text) {
        var urlRegex = /(https?:\/\/[^\s]+)/g;
        return text.replace(urlRegex, function (url) {
            return '<a href="' + url + '">' + url + '</a>';
        })
    }
    $("table .trTable .tddanhGia").each(function (i, e) {

        var urlText = urlify(e.innerHTML);
        e.innerHTML = urlText
    });
    $("table .trTable .tdMinhChung").each(function (i, e) {

        var urlText = urlify(e.innerHTML);
        e.innerHTML = urlText
    });
    function imgClick(hinhanh) {
        $('#imagepreview').attr('src', $(`#${hinhanh}`).attr('src'));
        $('#imagemodal').modal('show');
    }
    
</script>